body {
    background: black;
}

.header {
    display: flex;
    justify-content: center;;

}

.logo {
    width: 50%;
}

.img-btn-main {
    display: flex;
    justify-content: space-around;
    
}

.img-btn {
    width: 20%;
}

.table {
    display: flex;
}



.tbody {
    width: 100%;
    color: white;
    display: flex;
    flex-flow: column;
    align-items: center;
}


.thead {
    color:yellow;
    display: flex;
    justify-content: space-between;
    
}

.tr {
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.tr-body {
    width: 100%;
    display: flex;
    justify-content: space-around;
    
}

 .td-body {
    width: 100%;
} 

.th {
    width: 100%;
}

.preview-next {
    display: flex;
    justify-content: center;
}

.preview-next, button {
    margin: 10px;
    color:white;
    background-color: black;
}


.search {
    display: flex;
    justify-content: space-around;
}